<div class="row">
	<div class="col-sm-12  col-md-10 col-md-offset-1">

		<ul class="nav nav-tabs" role="tablist">
			<li class="active" role="presentation">
				<a aria-controls="tab_1" data-toggle="tab" href="#tab_1" role="tab" class="table-list">question</a>
			</li>
			<li role="presentation">
				<a aria-controls="tab_2" data-toggle="tab" href="#tab_2" role="tab" class="table-list">submit</a>
			</li>
			<li role="presentation">
				<a aria-controls="tab_3" data-toggle="tab" href="#tab_3" role="tab" class="table-list">records</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade in active" id="tab_1" role="tabpanel">
				<%= render partial: 'question_content' %>
			</div>
			<div class="tab-pane fade" id="tab_2" role="tabpanel">
				<%= render 'judge_systems/form', submit_path: path %>
			</div>
			<div class="tab-pane fade" id="tab_3" role="tabpanel">
				<%= render 'record_list' %>
			</div>
		</div>

	</div>
</div>
