<div class="col-xs-12 col-md-6 col-md-offset-3">
<h2 class="text-center">This problems Log</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th><%= :submitted_at%></th>
			<th><%= :result %></th>
		</tr>
	</thead>
	<tbody class="update_record">
		<% @records.each do |record| %>
		<tr>
			<td><%= record.created_at %></td>
			<td><%= record.result %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>