<div id="test-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">

  <!-- 何枚目かの画像かを表すインディケーター -->
  <ol class="carousel-indicators">
    <li data-target="#test-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#test-carousel" data-slide-to="1" class=""></li>
  </ol>

  <!-- 実際の画像の表示処理 -->
  <div class="carousel-inner">
    <div class="item active">    <!-- activeをつけたものがページ表示時に表示される -->
      <%= image_tag asset_path("main_menu/1.jpg"), class: "center-block" %>
    </div>
    <%# 2.upto 3 do |i| %>
    <div class="item">
      <%= image_tag asset_path("main_menu/1.jpg"), class: "center-block" %>
    </div>
    <%# end %>
  </div>

  <!-- 前の画像へ戻るための矢印ポインタ -->
  <a class="left carousel-control" href="#test-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <!-- 次の画像へ進むための矢印ポインタ -->
  <a class="right carousel-control" href="#test-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>