<h2 class="text-center">Best Creaters Ranking</h2>
<table class="table table-borderd">
  <tbody>
  <% number = 1 %>
    <% @created_users.each do |user| %>
    <tr class="text-center">
    <td><%= number %></td>
      <td><%= link_to user.name, user %></td>
      <td><%= user.created_question_number.to_s + "å•" %></td>
    </tr>
    <% number += 1 %>
    <% if number == 6 %>
    <% break %>
    <% end %>
    <% end %>
  </tbody>
</table> 

