

<table class="table table-bordered " id="lists"> 
  <tbody>
  <tr>
    <td>
      12/25 レイアウトを修正しました <br>
      スマホ、タブレットに対応しました！ <br>
    </td>
  </tr>
  <tr>
    <td>
      12/23 レイアウトを修正しました <br>
      ランキングをつけました <br>
    </td>
  </tr>
  <tr>
    <td>
      12/21 レイアウトを修正しました <br>
      アイコンをつけました <br>
      ブロック機能をつけました
    </td>
  </tr>
  <tr>
    <td>
      12/20 レイアウトを修正しました <br>
      Latexの使い方のリンクを更新しました
    </td>
  </tr>
  <tr>
    <td>
      12/19 Question Listでアクセプト状況を確認できるようになりました <br>
      メインメニューのレイアウトを向上させました。自動スクロールを実装しました <br>
      ユーザーページのレイアウトを向上させました
    </td>
  </tr>
  <tr>
    <td>
      12/18 Update Infoを作りました。レイアウトをいい感じにしました
    </td>
  </tr>
</tbody>
</table>