

<table class="table table-bordered " id="lists"> 
  <tbody>
    <tr>
      <td>
        12/18 Update Infoを作りました。レイアウトをいい感じにしました
      </td>
    </tr>
    <tr>
      <td>
        12/19 Question Listでアクセプト状況を確認できるようになりました
      </td>
    </tr>
  </tbody>
</table>