<div class="jumbotron">
    <h1>Welcome to Daisuki Club Online Judge</h1>
    <p>Here is Daisuki Club Online Judge. You can practice competition programming and compete with rivals of the world! Let's start now!</p>
</div>
