<div class="jumbotron text-center">
  <h1>Welcome to DCOJ</h1>
  <p>Here is Daisuki Club Online Judge. You can practice competition programming and compete with rivals of the world!</p>
  <div style="text-align:center; padding-top: 60px;">
    <%= link_to "Let's start now!", new_user_registration_path, class: 'btn btn-primary btn-xxl',style: "color: white;"%>
  </div>

</div>
