<% provide(:title, "Main Menu") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= :content %></th>
      <th><%= :created_at %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <% if current_user.following.include?(post.user) %>
      <tr>
        <td><%= simple_format(hbr(post.content)) %></td>
        <td><%= post.created_at %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>