<p> Webサイトからお問い合わせがありました。</p>
<p>--------------------------</p>
<p>Name: <%= @inquiry.name %></p>
<p>Email: <%= @inquiry.email %></p>
<p>Message:</p>
<%= simple_format @inquiry.message %>
<p>--------------------------</p>