<% if Time.now >= @contest.start_time %>
<h2 class="text-center">Ranking</h2>
<div class="row">
	<div class="col-sm-12  col-md-6 col-md-offset-3">
		<table class="table table-borderd">
			<thead>
				<tr>
					<th>ranking</th>
					<th>name</th>
					<th>score</th>
				</tr>
			</thead>
				<tbody id="ranking_list">
					<%= render partial: 'ranking_list' %>
				</tbody>
		</table> 
	</div>
</div>
<% end %>
<% if @contest.finish_time > Time.now %>
<script>
	jQuery(function($){
		setInterval(function(){
			$.ajax({
				url: '<%= @contest.id %>',
				type: "GET",
				data: {
					id : '<%= @contest.id %>'
				},
				dataType: "script"
			});
		},5000);
	});
</script>
<% end %>