<div class="row">
	<div class="col-sm-12  col-md-10 col-md-offset-1">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active" role="presentation">
				<a aria-controls="tab_1" data-toggle="tab" href="#tab_1" role="tab" class="table-list">contest list</a>
			</li>
			<li role="presentation">
				<a aria-controls="tab_2" data-toggle="tab" href="#tab_2" role="tab" class="table-list">end contest list</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade in active" id="tab_1" role="tabpanel">
				<%= render partial: 'now_contest_list' %>
			</div>

			<div class="tab-pane fade" id="tab_2" role="tabpanel">
				<%= render partial: 'end_contest_list' %>
			</div>
		</div>
	</div>
</div>

