<%= form_for :user, url: do_follow_user_path(@user), remote: true do |f| %>
<div><%= hidden_field_tag :follow_account, @user.account %></div>
  <%= f.submit "Follow", class: "btn btn-primary btn-lg col-xs-6 col-sm-6 col-md-1 col-md-offset-2" %>
<% end %>