<div class="lists">
	<% @users.each do |user| %>
	<div class="col-xs-4 col-sm-4 col-md-4">
		<%= link_to image_tag(user_icon(user), class: "img-circle img-responsive", size: '250x250'), user %>
		<div class="center-block">
			<h3><strong><%= user.name %></strong></h3>
		</div>
	</div>
	<% end %>
</div>

