<p>.txtで提出してください</p>
<%= form_tag submit_path, method: "post", multipart: true do %>
<div class="form-group">
	<%= label_tag "出力を提出" %>
	<%= file_field_tag :ans, class: 'form-control' %>
</div>

<div class="form-group">
	<%= submit_tag "Submit", class: 'btn btn-primary' %>
</div>
<% end %>
