<% provide(:title, "Accept") %>
<h1>Accept!!!!!</h1>
<%= render 'evaluate_form' %>
<div id="records">
  <%= render 'record_list' %>
</div>


<%= link_to "Back", main_menu_path, class: "btn btn-default" %>