<% provide(:title, "Accept") %>
<h1>Accept!!!!!</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'evaluate_form' %>
	</div>
</div>
<div class="row">
	<div id="records" class="col-md-6 col-md-offset-3">
		<%= render 'record_list' %>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "Back", questions_path, class: "btn btn-default" %>
	</div>
</div>