<% provide(:title, "Submission") %>
<%= render :partial => 'layouts/header', locals: {page_name: 'Submission'} %>
<p>.txtで提出してください</p>
<%= render 'form', judge_system: @judge_system %>

<%= link_to 'Back', home_path %>
