<% provide(:title, "Wrong Answer") %>
<h1>Wrong Answer</h1>
<div class="row">
	<div id="records" class="col-md-6 col-md-offset-3">
		<%= render 'record_list' %>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "Back", @question, class: "btn btn-default" %>
	</div>
</div>