<footer class="footer :q">
	<div class="container-fluid">
		<div row>
			<p class="text-muted col-xs-12 col-sm-12 col-md-12">&copy;Copyright プログラミングだいすきクラブ. All rights reserved.
				<%= link_to "お問い合わせ", inquiries_path, class: "btn btn-default" %></p>
			</div>
		</div>
	</footer>
