<footer class="footer :q">
  <div class="container-fluid">
  <div row>
      <p class="text-muted col-xs-12 col-sm-12 col-md-12">&copy;Copyright プログラミングだいすきクラブ. All rights reserved.</p>
    </div>
  </div>
</footer>
