<header>
 <div class="page-header">
  <h1 class = "text-info">Kiyono Online Judge　　<small><%= page_name %></small></h1>
  <% if logged_in? %>
  <p><%= link_to "submission", submission_path%></p>
  <% end %>
</div>
 </header>