</header>
 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Daisuki Club Online Judge", root_path, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign in", '#', class: 'navbar-brand' %></li>
      </ul>
    </nav>
  </div>
 </header>
